.w3-content {
	max-width: 100%;
	margin: auto
}

.w3-rest {
	overflow: hidden
}

.w3-display-container:hover .w3-display-hover {
	display: block
}

.w3-display-container:hover span.w3-display-hover {
	display: inline-block
}

.w3-display-hover {
	display: none
}

.w3-tooltip, .w3-display-container {
	position: relative
}

.w3-tooltip .w3-text {
	display: none
}

.w3-tooltip:hover .w3-text {
	display: inline-block
}

.w3-display-left {
	position: absolute;
	top: 50%;
	left: 0%;
	transform: translate(0%, -50%);
	-ms-transform: translate(-0%, -50%)
}

.w3-display-right {
	position: absolute;
	top: 50%;
	right: 0%;
	transform: translate(0%, -50%);
	-ms-transform: translate(0%, -50%)
}

.w3-button:hover {
	color: #000 !important;
	background-color: #ccc !important
}

.w3-black, .w3-hover-black:hover {
	color: #fff !important;
	background-color: #000 !important
}